.book_container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    font-size: 2rem;
    margin: 10px auto;
    background-color: white;
    width: 40%;
    padding: 5px;
    box-shadow: 10px 10px #333333
}

.book_info {
    width: 95%;
}


.title div {
    background-color: #edf0f1;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 5px;

}

.container_author_rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.author div {
    font-size: 2rem;
}

.rating, .author {
    margin-top: 5px;
    margin-left: 5px;
}

.rating div {
    background-color: black;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    padding: 4px;

}

.desc div {
    margin: 5px;
    font-size: 1.3rem;
    padding: 10px;
    background-color: #ccc;
    border-radius: 10px;
}


.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: .5rem;
    text-align: center;
}

.info div {

    font-size: 1.8rem;
    margin: .1rem;
}
.btn {
    width: 60%;
    margin: 10px auto 5px;
}

p {
    color: #333;
    font-size: 1.1rem;
    font-family: "Times New Roman", serif;
    margin-top: 5px;
}