
h2 {
    width: 98vw;
    padding: 10px 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2.4rem;
    background-color: #0d6efd;
    text-transform: uppercase;
}

.books_container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px;
    background-color: #ccc;
}



.books_buttons {
    display: flex;
    flex-direction: column;
}

