.paginationBttns {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    list-style: none;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    color: #2b2eff;
    font-size: 2rem;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: #0d6efd;
}

.paginationActive a {
    color: white;
    background-color: #0d6efd;
}