.menu_container {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
    background-color: #24252A;
}
.menu_item button{
    font-size: 20px;
    padding: 5px;
    margin:0 10px;
    color: #edf0f1;
    background-color: #24252A;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.menu_item p {
    font-size: 20px;
    color: #edf0f1;
}

.menu_item button:hover {
    color: red;

}
.menu_links {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.menu_item a {
    line-height: 35px;
    font-size: 20px;
    padding: 5px;
    margin: 5px 6px;
    color: #edf0f1;
    text-decoration: none;
    transition: 0.5s;
}

.menu_item a:hover {
    color: red;

}