.error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 60vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(179, 25, 25);
}

.error_message {
    margin-bottom: 60px;
}

.error_message h1 {
    font-size: 5rem;
}

.error_message p {
    font-size: 3rem;
    padding: 10px;
    font-weight: bold;
    color: black;
}
