.error_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 50vh;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(179, 25, 25);
}

.error_message{
    margin-bottom: 60px;
}

.error_message h1 {
    font-size: 5rem;
}

.error_message p  {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
